body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background {
  background: linear-gradient(to right, #777, #231f20);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container, .categorias-container {
  background-color: #3d3d3d;
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.menu-container h2 {
  margin-bottom: 20px;
}

.menu-container button,
.categorias-container button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #dcdcdc;
  color: black;
  cursor: pointer;
}

.categorias-container {
  background-color: #3d3d3d;
  width: 300px;
}

.input-group {
  margin: 10px 0;
}

.input-group label {
  display: block;
  margin-bottom: 4px;
  color: white;
}

.input-group input {
  width: 90%;
  padding: 5px;
  border-radius: 20px;
  border: none;
}

.voltar {
  margin-top: 20px;
  background-color: #4a5;
  color: white;
}

.bottom-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-theme {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
}
